@{
    ViewData["Title"] = "Cryptographic Page";
}

<div class="image-container default-image">
    <img src="~/images/image.jpg" alt="Download image!">
</div>

<hr class="hr-line">

<div class="input-image">
    <form method="put" action="file.doc">
        <button class="btn" type="submit">Save image</button>
    </form>
        <a href="~/images/image.jpg" download="image"><button class="btn">Download image</button></a>
</div>

<hr class="hr-line">

<div class="main-functional">
    <div class="encrypt-text">
        <textarea class="input-text"></textarea>
        <button class="btn">Encrypt text</button>
    </div>
    <div class="decrypt-text">
        <textarea class="output-text"></textarea>
        <button class="btn">Decrypt text</button>
    </div>
</div>

<environment include="Development">
    <link rel="stylesheet" href="~/css/cryptographicPageStyle.css" />
</environment>
